<div class="container">
  <h1 class="text-center">Angular CRUD</h1>
  <div class="row mb-5 mt-5">
    <div class="col-md-6 mx-auto">
        <ul class="employeeList list-group">
            <li class="list-group-item list-group-item-action list-group-item-warning" *ngFor="let employee of employeeCollection" (click)="OpenForEdit(employee)" [class.selected]="employee == selectedEmployee">
              <span class="badge">{{ employee.EmployeeID}}.  </span> {{ employee.code }} {{ employee.Name }}
            </li>
        </ul>
    </div>

    <div class="col-md-6">
     <div class="employeeForm">
       <label>{{selectedEmployee.EmployeeID == 0 ? "Insert Employee" : "Update Employee"}}</label><br>
       <input [(ngModel)] ="selectedEmployee.Code" class="textbox" placeholder="Code" required> <br>
       <input [(ngModel)] ="selectedEmployee.Name" class="textbox" placeholder="Name" required> <br>
       <button class="btn btn-sm btn-success mt-2" (click)="AddOrEdit()">Submit</button>
       <button class="btn btn-sm btn-danger ml-2 mt-2" *ngIf="selectedEmployee.EmployeeID != 0" (click)="Delete()">Delete</button>
     </div>
    </div>
  </div>
</div>


