<div class="row mt-5">
  <div class="col-md-8 mt-1 mx-auto">

    <form  [formGroup]="this.customerService.form" (ngSubmit)="onSubmit()">
      <!-- This is the primary key of each record in the customer. -->
      <input type="hidden" formControlName="$key"> 
       <div class="form-group form-row">
         <div class="col">
            <label>Full Name</label>
            <input formControlName="fullName" class="form-control" [ngClass]="{'is-invalid' :submitted && formControls.fullName.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors">This field is required.</div>
         </div>
         <div class="col">
            <label>Email</label>
            <input formControlName="email" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors.required">This field is required with valid email.</div>
         </div>
       </div>

  

       <div class="form-group form-row">
         <div class="col">
            <label>Mobile</label>
            <input formControlName="mobile" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.mobile.errors}">
            <label class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors.required">Mobile is required</label>
            <label class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors.minlength">Minimum 8 digit required</label>
         </div>
         <div class="col">
            <label>Location</label>
            <input formControlName="location" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.location.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.location.errors.required">Location is required</div>
         </div>
       </div>

       <div class="form-group">
          <!-- <i class="fa fa-times"></i><input type="submit" class="btn btn btn-dark" value="Submit"/> -->
          <span class="btn btn btn-dark">
              <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf="this.submitted == true"></i>  &nbsp;<input type="submit" value="Submit"/>
          </span>
       </div>
    </form>

     <div class="alert alert-primary" *ngIf="showSuccessMessage">
       Form data submitted succesfully!!
     </div>
  </div>
</div>

<div class="row">
    <div class="col-md-10 mx-auto mt-5 mb-5">
        <app-customer-list></app-customer-list>
      </div>
</div>





